.font {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
 
}
.text-pink{
  
  color:  #e83e8c;
}
body{
    background-image: linear-gradient(-225deg, #E3FDF5 0%, white 25%);
  
    
}
.border{
    background-image: linear-gradient(-225deg, #d8c9f1 50%, white 100%);
}
