.main{
    margin: 0 100px;
    .card-header{
        background-color: #fffefb;
        border: 1px solid rgba(224,168,0,.4);
        padding: 0.75rem 1rem;
        display: flex;
        align-items: center;
        margin-bottom: 0.625rem;
        border-radius: 2px;
    }

    .th-table{
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        box-shadow: 0 1px 1px 0 black;
        border-radius: 0.125rem;
        overflow: hidden;
        border-radius: 3px;
        height: 55px;
        font-size: 14px;
        background: #fff;
        text-transform: capitalize;
        margin-bottom: 12px;
        color: #888;
        padding: 0 20px;

        .stardust-checkbox{
            font-family: -apple-system,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Roboto,Droid Sans,Arial,sans-serif;
            font-weight: 300;
            font-size: 12px;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            cursor: default;
            position: relative;
            color: rgba(0,0,0,.54);
            max-width: 400px;
        }

        .SanPham{
            color: rgba(0,0,0,.8);
            width: 46.27949%;
            padding-left: 50px;
        }

        .DonGia{
            width: 15.88022%;
            text-align: center;
        }
        .SoLuong{
            width: 15.4265%;
            text-align: center;
        }

        .SoTien{
            text-align: center;
            width: 10.43557%;
        }

        .ThaoTac{
            width: 12.70417%;
            text-align: center;
        }
    }

    .card{
        box-shadow: 0 1px 1px 0 black;
        border-radius: 0.125rem;
        overflow: hidden;
        background: #fff;
        overflow: visible;
        margin-bottom: 0.9375rem;

        .header-card{
            height: 3.75rem;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border-bottom: 1px solid rgba(0,0,0,.09);
            padding: 0 20px;

            .header-card-content{
                display: flex;
                -webkit-align-items: center;
                -moz-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-flex: 1;
                -moz-box-flex: 1;
                -ms-flex: 1;
                flex: 1;

                .chk{
                    -webkit-flex-direction: row-reverse;
                    -moz-box-orient: horizontal;
                    -moz-box-direction: reverse;
                    -ms-flex-direction: row-reverse;
                    min-width: 58px;
                    -moz-box-sizing: border-box;
                    width: 58px!important;
                    flex-direction: row-reverse;
                    box-sizing: border-box;
                    padding: 20px 18px 0 20px;
                    display: flex;
                }
                
                .ten{
                    text-decoration: none;
                    color: rgba(0,0,0,.87);
                    font-weight: 500;
                    min-width: 50px;
                    -webkit-align-items: center;
                    -moz-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;

                    .yeuthich{
                        margin-top: 20px;
                        background: red;
                        color: white;
                        border-radius: 2px ;
                        padding: 0 5px
                    }

                    .tenSP{
                        margin-top: 20px;
                    }
                }
                .thu-ne{
                    i.fas.fa-comments {
                        color: red;
                        margin-top: 20px;
                        
                        
                    }
                }             
            }
        }

        .content-card{
            position: relative;
            padding-bottom: 1px;

            .content-card-container:last-child {
                padding-bottom: 20px;
            }
            .content-card-container:first-child {
                padding-top: 15px;
            }
            .content-card-container {
                text-decoration: none;
                color: rgba(0,0,0,.87);
                display: block;
                padding: 0 20px 15px;
                margin-top: 15px;

                .content-card-content{
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-align-items: center;
                    -moz-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;

                    .chk{
                        padding: 0 12px 0 20px;
                        display: -webkit-flex;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-flex-direction: row-reverse;
                        -moz-box-orient: horizontal;
                        -moz-box-direction: reverse;
                        -ms-flex-direction: row-reverse;
                        flex-direction: row-reverse;
                        min-width: 58px;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                    }
                    .sp{
                        display: -webkit-flex;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: flex;

                        .sp-trong{
                            display: -webkit-flex;
                            display: -moz-box;
                            display: -ms-flexbox;
                            display: flex;

                            .img-sp{
                                background-image: url('../../assets/images/tui.png');
                                height:80px;
                                width:85px;
                            }

                            .dhNe{
                                background-image: url('../../assets/images/dh.jpg');
                                height:80px;
                                width:85px;
                            }

                            .imgNe{
                                background-image: url('../../assets/images/tui2.jpg');
                                height:80px;
                                width:85px;
                            }
                            .ten-sp{
                                line-height: 16px;
                                overflow: hidden;
                                display: -webkit-flex;
                                display: -moz-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-flex-direction: column;
                                -moz-box-orient: vertical;
                                -moz-box-direction: normal;
                                -ms-flex-direction: column;
                                flex-direction: column;
                                padding: 5px 20px 0 10px;
                                font-size: 14px;
                                width: 243.5px;
                                text-align: justify;
                            }
                        }
                    }

                    .phanLoai{
                        display: -webkit-flex;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-align-items: center;
                        -moz-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-justify-content: center;
                        -moz-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        width: 17.24138%;

                        .phanloai-container{
                            display: -webkit-flex;
                            display: -moz-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-align-items: center;
                            -moz-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-justify-content: space-between;
                            -moz-box-pack: justify;
                            -ms-flex-pack: justify;
                            justify-content: space-between;
                            cursor: pointer;
                            position: relative;
                            outline: none;
                            -webkit-flex: 1;
                            -moz-box-flex: 1;
                            -ms-flex: 1;
                            flex: 1;
                            .phanloai-content{
                                display: -webkit-flex;
                                display: -moz-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-flex: 1;
                                -moz-box-flex: 1;
                                -ms-flex: 1;
                                flex: 1;
                                color: rgba(0,0,0,.54);
                                -webkit-flex-direction: column;
                                -moz-box-orient: vertical;
                                -moz-box-direction: normal;
                                -ms-flex-direction: column;
                                flex-direction: column;
                                font-size: 14px;
                                margin-right: 10px;

                                .Qtk_DO{
                                    -webkit-align-items: center;
                                    -moz-box-align: center;
                                    -ms-flex-align: center;
                                    align-items: center;
                                    text-transform: capitalize;
                                    text-align: left;
                                    display: -webkit-flex;
                                    display: -moz-box;
                                    display: -ms-flexbox;
                                    display: flex;

                                    .vZLqsj {
                                        border-left: 4px solid transparent;
                                        border-right: 4px solid transparent;
                                        background: none;
                                        padding: 0;
                                        border-top: 5px solid rgba(0,0,0,.54);
                                        border-bottom: 0;
                                        transition: -webkit-transform .1s cubic-bezier(.4,0,.6,1);
                                        transition: transform .1s cubic-bezier(.4,0,.6,1);
                                        transition: transform .1s cubic-bezier(.4,0,.6,1),-webkit-transform .1s cubic-bezier(.4,0,.6,1);
                                        -webkit-transform: rotate(0);
                                        transform: rotate(0);
                                        margin: 0 0 0 10px;
                                    }
                                }
                            }
                        }
                    }

                    .dongia{
                        -webkit-flex-direction: column;
                        -moz-box-orient: vertical;
                        -moz-box-direction: normal;
                        -ms-flex-direction: column;
                        flex-direction: column;
                        width: 15.88022%;
                        display: -webkit-flex;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-align-items: center;
                        -moz-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-justify-content: center;
                        -moz-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;

                        .gia{
                            margin-right: 10px;

                            &.giam{
                                color: rgba(0,0,0,.54);
                                text-decoration: line-through;
                            }
                        }
                    }

                    .soluong{
                        display: -webkit-flex;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-align-items: center;
                        -moz-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-justify-content: center;
                        -moz-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        -webkit-flex-direction: column;
                        -moz-box-orient: vertical;
                        -moz-box-direction: normal;
                        -ms-flex-direction: column;
                        flex-direction: column;
                        width: 15.4265%;

                        .soluong-content{
                            display: -webkit-flex;
                            display: -moz-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-align-items: center;
                            -moz-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;

                            ._2rGMck:first-child {
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;
                            }
                            ._2rGMck {
                                outline: none;
                                cursor: pointer;
                                border: 0;
                                font-size: .875rem;
                                font-weight: 300;
                                line-height: 1;
                                letter-spacing: 0;
                                display: -webkit-flex;
                                display: -moz-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-align-items: center;
                                -moz-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                                -webkit-justify-content: center;
                                -moz-box-pack: center;
                                -ms-flex-pack: center;
                                justify-content: center;
                                transition: background-color .1s cubic-bezier(.4,0,.6,1);
                                border: 1px solid rgba(0,0,0,.09);
                                border-radius: 2px;
                                background: transparent;
                                color: rgba(0,0,0,.8);
                                width: 32px;
                                height: 32px;

                                &._8rdz59{
                                    width: 50px;
                                    height: 32px;
                                    border-left: 0;
                                    border-right: 0;
                                    font-size: 16px;
                                    font-weight: 400;
                                    -moz-box-sizing: border-box;
                                    box-sizing: border-box;
                                    text-align: center;
                                    cursor: text;
                                    border-radius: 0;
                                    -webkit-appearance: none;
                                }

                                .shopee-svg-icon {
                                    font-size: 10px;
                                    width: 10px;
                                    height: 10px;
                                    -ms-flex-negative: 0;
                                    -webkit-flex-shrink: 0;
                                    flex-shrink: 0;
                                    display: inline-block;
                                    width: 1em;
                                    height: 1em;
                                    fill: currentColor;
                                    position: relative;
                                }
                            }
                        }
                    }

                    .gia{
                        width: 6.43557%;
                        text-align: right;
                        color: #ee4d2d;
                        margin-right: 40px ;
                    }

                    .thaotac1{

                        display: -webkit-flex;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-align-items: center;
                        -moz-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-justify-content: center;
                        -moz-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        width: 12.70417%;
                        text-transform: capitalize;
                        .thaotac2{
                            -webkit-flex-direction: column;
                            -moz-box-orient: vertical;
                            -moz-box-direction: normal;
                            -ms-flex-direction: column;
                            flex-direction: column;
                        }
                        
                        .btnXoa {
                            cursor: pointer;
                            background: none;
                            border: 0;
                            margin: 15px;
                        }

                        .spTuongTu{
                            z-index: 2;
                            max-width: 100%;
                            text-align: justify;
                            
                        }
                    }
                }
            }
        }
    }

    .footer-card{
        z-index: 2;
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        display: grid;
        grid-template-columns: 1fr 20.3125rem 11.875rem;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: #fff;
        width: 100%;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: 1rem;
        // position: relative;
        margin-top: 0.75rem;

        .footer-header{
            grid-column-start: 2;
            grid-column-end: 4;
            -ms-grid-column-span: 2;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 0.75rem 0;
            
            &.fh{
                -ms-grid-row: 1;
            }

            i.fas.fa-map{
                color: red;
            }

            .voucher{
                margin: 0 0.3125rem;
                font-weight: 500;
                -ms-flex-negative: 0;
                -webkit-flex-shrink: 0;
                flex-shrink: 0;
                margin: 0 0.5rem;
            }

            .trong{
                -webkit-flex: 1;
                -moz-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
            }

            .giamgia{
                margin-right: 1.875rem;
                text-transform: capitalize;
                color: #05a;
                font-size: .875rem;
                white-space: nowrap;
                cursor: pointer;

                &.gg{
                    color: #ee4d2d;
                }
            }
        }

        .rach{
            grid-column-start: 1;
            grid-column-end: 4;
            -ms-grid-column-span: 3;
            border-top: 1px dashed rgba(0,0,0,.09);
        }
        //=================Thanh Toán
        
        .footer{
            display: flex;
            .UMteh{
                padding:17px;
            }

            .chon-tat-ca{
                margin: 12px 30px 0 30px;
                font-weight: 400;
                font-size: 18px;
            }

            .xoa-tat-ca{
                margin: 12px 30px 0 30px;
                font-weight: 400;
                font-size: 18px;
            }

            .Tong{
                margin: 12px 100px 0px 0px;
                font-weight: 400;
                font-size: 18px;

                .tien{
                    color: red;
                    font-size: 18px;
                }
            }
        }

        .btn{
            background-color: red;
            color: white;
            padding: 2px 10px
        }
        
        //=============================
    }
}
